body{
	padding-top: 20px;
	background-color: pink;
	margin: auto;
	padding: 10px;
	color: white;
}
h2{
	align-content: center;
	margin: auto;
	color: black;
	padding-top: 20px;
}
#pic{
	margin-top: 30px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
}
#data{
	display: none;
	margin: auto;	
}
h4{
	margin: auto;
}
button{
	margin-top: 20px;
	background-color: #e54040;
	color: white;
	text-decoration: none;
	border: none;
	padding: 10px;
	border-radius: 3px;
	box-shadow:0 0 10px 0 slategrey;
	font-style: bold;	
}
